{
  "testName": "JUnitTest1",
  "serverConfiguration": {
    "serverJmxHost": "localhost",
    "serverJmxPort": 61000,
    "username": "null",
    "password": "null",
    "writeImplementation": "buff",
    "writeBufferSize": 64000,
    "networkImplementation": "buff",
    "networkBufferSize": 64000,
    "filePath": ".\\test-space\\commander_network_test"
  },
  "clientConfiguration": {
    "clients": [
          {
            "clientJmxHost": "localhost",
            "clientJmxPort": 61001,
            "username": "null",
            "password": "null"
          }
        ],
    "bufferSize": 64000,
    "ioImplementation": "buff",
    "pregeneratedChunkSize": 64000,
    "transmitTarget": 10000000
  },
  "measurementVolume": 2500
}