{
  "testName": "JUnitTest11",
  "serverConfiguration": {
    "serverJmxHost": "localhost",
    "serverJmxPort": 61000,
    "username": "null",
    "password": "null",
    "writeImplementation": "buff",
    "writeBufferSize": 64000,
    "networkImplementation": "buwp",
    "networkBufferSize": 64000,
    "filePath": "H:\\ByterWriter"
  },
  "clientConfiguration": {
    "clients": [
              {
                "clientJmxHost": "localhost",
                "clientJmxPort": 61001,
                "username": "null",
                "password": "null"
              }
            ],
    "bufferSize": 8192,
    "ioImplementation": "buff",
    "pregeneratedChunkSize": 8192,
    "transmitTarget": 1000000
  },
  "measurementVolume": 2500
}